body {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 115%;

    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
    background-color: #e9e9e9;
}






header {
    background-color: #141414;
    color: #fff6ea;
    text-align: center;
    padding: 1em;
    box-shadow: 0px 3px 10px rgba(49, 49, 49, 0.2);
    z-index: 2;  /* Make this higher than the sidebar's z-index */
    position: relative;  /* Needed for z-index to work */

    width: 100%;
    z-index: 2; /* Keep it above other content */
}

header nav ul li a {
   
    color: #ffffff;
    font-size: 115%;
    margin-left: 10px;
    margin-right: 10px;
}



#site-sections{
    
  
    width: 700px;
    padding: 25px;
    
  
    background-color: #ffffffc4;
    margin:auto;  /* This will center the block */

    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;

    

    border-radius: 10px;

    color: #000000;



}




    
#site-sections-a{

    display: block; /* This makes the anchor cover the full section */
    text-decoration: none; /* This removes the underline from links */
    color: inherit; /* This keeps the text color consistent */
    margin-top: 0px;
    padding-top: 0px;
    
}

#site-sections:hover {
    background-color: rgba(91, 43, 127, 0.462);  /* Change color on hover */
    
  }
  

#site-sections > h3{

    color: #000000;
    
    margin-top: 0px;
    padding-top: 0px;
}




#caption{
    font-size: 80%;
    text-align: center;
}
   
.bg-white {
    background-color: #ffffff;  /* Pure white */
    border-bottom: 1px solid #ccc;  /* 1px thick, solid, light gray line */
    border-top: 1px solid #ccc;  /* 1px thick, solid, light gray line */
    padding-bottom: 4em;
   
}

.bg-gray {
    background-color: #f4f4f4;  /* Light gray */
    padding-top: 0.5em;
    padding-bottom: 4em;
    border-bottom: 1px solid #ccc;  /* 1px thick, solid, light gray line */
    border-top: 1px solid #ccc;  /* 1px thick, solid, light gray line */

}



p{     
    max-width: 850px;  /* Change this to yer likin' */
    margin: auto;  /* This will center the block */
    line-height: 1.5;
    text-align: justify;

}

ul{
    max-width: 750px;  /* Change this to yer likin' */
    margin: auto;  /* This will center the block */
    padding-left: 50px;  /* Add some padding to the left */
    list-style-type: square;  /* Change the bullet style */
}

li{
    text-align: left;
   
}

h1 {
    
    margin-top: 5px;  /* Space above the element */
    margin-bottom: 5px;  /* Space below the element */
    padding-left: 10px;  /* Space inside the element, to the left of the text */
    padding-right: 10px;  /* Space inside the element, to the right of the text */
    padding-top: 0px;  /* Space inside the element, to the right of the text */
    padding-bottom: 35px;  /* Space inside the element, to the right of the text */
    font-size: 300%;
    
}


h1, h2, h3, h4, h5{
    font-family: 'Lora', serif;
    font-weight: 500;
    
}

h3{
    padding-top: 10px; 
}

h4{
    padding-bottom: -20px;
}

h5 {
    margin-top: 5px;  /* Space above the element */
    margin-bottom: 5px;  /* Space below the element */
    padding-left: 10px;  /* Space inside the element, to the left of the text */
    padding-right: 10px;  /* Space inside the element, to the right of the text */
    padding-bottom: 0px;  /* Space inside the element, to the right of the text */
    padding-top: 20px;  /* Space inside the element, to the right of the text */
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}




section {
    margin-bottom: -2em;
}

footer {
    background-color: #141414;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
}

footer p { text-align: center; }

img {
    max-width: 100%;  /* Makes sure the image fits within its container */
    border: 1px solid #333;  /* Adds a border */
    width: 425px;
    height: 425px;
    object-fit: cover;  /* Keeps the aspect ratio, but might clip the image */
    margin:2px;
}

.long{
    width: 400px;  /* Sets the width */
    height: 300px;  /* Sets the height */
}

.longer{
    width: 350px;  /* Sets the width */
    height: 200px;  /* Sets the height */
}

.tall{
    width: 300px;  /* Sets the width */
    height: 350px;  /* Sets the height */
}

.taller{
    width: 250px;  /* Sets the width */
    height: 400px;  /* Sets the height */
}

.large-photo{
    width: 425px;
    height: 425px;
}


iframe {
    width: 100%;
    max-width: 800px;
}


#sidebar {
    position: fixed;  /* Fixed position */
    top: 0;  /* Align to the top */
    left: 0;  /* Align to the left */
    width: 250px;  /* Set the width */
    height: 100%;  /* Full height */
    background-color: #141414;
    overflow-x: hidden;  /* No horizontal scroll */
    padding-top: 170px;  /* Add some padding at the top */
    color: #d9d9d9;
    font-size: larger;
  }
  
#sidebar a {
    padding: 7px;
    padding-left: 0px;
    text-decoration: none;
    font-size: 18px;
    color: #c9c9c9;
    display: block;
    
  }
  
#sidebar a:hover {
    color: #ffffff;  /* Change color on hover */
  }
  









/* Now, when the screen size be less than 768 pixels, the sidebar gets the heave-ho! */
@media (max-width: 1400px) {
    #sidebar {
      display: none; /* This will hide the sidebar on screens smaller than 768 pixels */
    }
  }


.center_p{
    text-align: center;

}














#slideshow img{
   

    margin-top: 0;
    padding-top: 0;
    min-width: 600px;
   
    max-width: 680px;
    max-height: 750px;

    height: auto;
    width: auto;
    
}
#slideshow {
    position: relative;
    max-width: 850px; /* Adjust as per your image width */
    margin: auto;
    overflow: hidden;
    margin-top: 0;
    padding-top: 0;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgb(0, 0, 0);

    width: 50px;

    padding-top: 30%;
    padding-bottom: 30%;
}

.prev {
    left: 0px; /* Adjust if necessary */
}

.next {
    right: 0px; /* Adjust if necessary */
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.823);
}


.no_purple_link{
    text-decoration: none;
    text-align: left;
    left: 300px;
    color:#ccc;
}


.no_purple_link:visited {
    text-decoration: none;
    text-align: left;
    left: 300px;
    color:#ccc;
}










.width-short{
    width: 300px;
}