body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
    
}

header {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 1em;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.bg-white {
    background-color: #ffffff;  /* Pure white */
   
}

.bg-gray {
    background-color: #f4f4f4;  /* Light gray */
    padding-top: 0.5em;
    padding-bottom: 2em;
    border-bottom: 1px solid #ccc;  /* 1px thick, solid, light gray line */
    border-top: 1px solid #ccc;  /* 1px thick, solid, light gray line */
}



p{     
    max-width: 800px;  /* Change this to yer likin' */
    margin: auto;  /* This will center the block */
    line-height: 1.5;
    text-align: justify;
}

ul{
    max-width: 800px;  /* Change this to yer likin' */
    margin: auto;  /* This will center the block */
    padding-left: 50px;  /* Add some padding to the left */
    list-style-type: square;  /* Change the bullet style */
}

li{
    text-align: left;
   
    
}

h1 {
    font-family: 'Playfair Display', serif;
    
    margin-top: 5px;  /* Space above the element */
    margin-bottom: 5px;  /* Space below the element */
    padding-left: 10px;  /* Space inside the element, to the left of the text */
    padding-right: 10px;  /* Space inside the element, to the right of the text */
    padding-top: 0px;  /* Space inside the element, to the right of the text */
    padding-bottom: 35px;  /* Space inside the element, to the right of the text */
}

h2 {
    text-align: center;
    padding-bottom: 15px;  /* Space inside the element, to the right of the text */

}

h1, h2, h3, h5{
    font-family: 'Playfair Display', serif;
}

h3{
    padding-top: 10px; 
}

h4{
    padding-bottom: 0px;
}

h5 {
    margin-top: 5px;  /* Space above the element */
    margin-bottom: 5px;  /* Space below the element */
    padding-left: 10px;  /* Space inside the element, to the left of the text */
    padding-right: 10px;  /* Space inside the element, to the right of the text */
    padding-bottom: 0px;  /* Space inside the element, to the right of the text */
    padding-top: 20px;  /* Space inside the element, to the right of the text */
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

main {
    padding: 1em;
}

section {
    margin-bottom: 2em;
}

footer {
    background-color: #e0dfdf;
    color: #1c1c1c;
    text-align: center;
    padding: 1em;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
}

footer p { text-align: center; }

img {
    max-width: 100%;  /* Makes sure the image fits within its container */
    border: 1px solid #333;  /* Adds a border */
    width: 300px;  /* Sets the width */
    height: 300px;  /* Sets the height */
    object-fit: cover;  /* Keeps the aspect ratio, but might clip the image */
    margin:5px;
}

.long{
    width: 300px;  /* Sets the width */
    height: 250px;  /* Sets the height */
}

.longer{
    width: 350px;  /* Sets the width */
    height: 200px;  /* Sets the height */
}

iframe {
    width: 100%;
    max-width: 800px;
    height: auto;
}
