body {

    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: large;


    margin: 0;
    padding: 0;
    color: #000000;
    text-align: center;
    background-color: #e9e9e9;
}








#site-sections{
    
  
    width: 700px;
    padding: 25px;
    
  
    background-color: #efefef9a;
    margin:auto;  /* This will center the block */

    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;

    

    border-radius: 10px;

    color: #000000;




}




    
#site-sections-a{

    display: block; /* This makes the anchor cover the full section */
    text-decoration: none; /* This removes the underline from links */
    color: inherit; /* This keeps the text color consistent */
    margin-top: 0px;
    padding-top: 0px;
    
}

#site-sections:hover {
    background-color: rgba(151, 72, 255, 0.181);  /* Change color on hover */
    
  }
  

#site-sections > h3{

    color: #000000;
    
    margin-top: 0px;
    padding-top: 0px;
}

#site-sections > p{

    text-align: center;
}





#caption{
    font-size: 80%;
    text-align: center;
}
   
.bg-white {
    background-color: #ffffff;  /* Pure white */
    border-bottom: 1px solid #ffffff;  /* 1px thick, solid, light gray line */
    border-top: 1px solid #ccc;  /* 1px thick, solid, light gray line */
    padding-bottom: 4em;
   
}

.bg-gray {
    background-color: #ececec;  /* Light gray */
    padding-top: 0.5em;
    padding-bottom: 4em;
    border-bottom: 1px solid #ccc;  /* 1px thick, solid, light gray line */
    border-top: 1px solid #ccc;  /* 1px thick, solid, light gray line */

}



p{     
    max-width: 750px;  /* Change this to yer likin' */
    margin: auto;  /* This will center the block */
    line-height: 1.5;
    text-align: justify;

}

ul{
    max-width: 750px;  /* Change this to yer likin' */
    margin: auto;  /* This will center the block */
    padding-left: 50px;  /* Add some padding to the left */
    list-style-type: square;  /* Change the bullet style */
}

li{
    text-align: left;
   
}

h1 {
    
    margin-top: 5px;  /* Space above the element */
    margin-bottom: 5px;  /* Space below the element */
    padding-left: 10px;  /* Space inside the element, to the left of the text */
    padding-right: 10px;  /* Space inside the element, to the right of the text */
    padding-top: 0px;  /* Space inside the element, to the right of the text */
    padding-bottom: 35px;  /* Space inside the element, to the right of the text */
    font-size: 300%;
    
}


h1, h2, h3, h4, h5{
    font-family: 'Lora', serif;
    font-weight: 500;
    
}

h3{
    padding-top: 10px; 
}

h4{
    padding-bottom: -20px;
}

h5 {
    margin-top: 5px;  /* Space above the element */
    margin-bottom: 5px;  /* Space below the element */
    padding-left: 10px;  /* Space inside the element, to the left of the text */
    padding-right: 10px;  /* Space inside the element, to the right of the text */
    padding-bottom: 0px;  /* Space inside the element, to the right of the text */
    padding-top: 20px;  /* Space inside the element, to the right of the text */
}



section {
    margin-bottom: -2em;
}

footer {
    background-color: #141414;
    color: #ffffff;
    text-align: center;
    padding: 1em;
}

iframe{
    width: auto;
}

footer p { text-align: center; }

img {
    max-width: 100%;  /* Makes sure the image fits within its container */
    border: 1px solid #333;  /* Adds a border */
    width: 425px;
    height: 425px;
    object-fit: cover;  /* Keeps the aspect ratio, but might clip the image */
    margin:2px;
}


iframe {
    width: 100%;
    max-width: 800px;
}


#sidebar {
    position: fixed;  /* Fixed position */
    top: 0;  /* Align to the top */
    left: 0;  /* Align to the left */
    width: 250px;  /* Set the width */
    height: 100%;  /* Full height */
    background-color: #141414;
    overflow-x: hidden;  /* No horizontal scroll */
    padding-top: 170px;  /* Add some padding at the top */
    color: #d9d9d9;
    font-size: larger;
  }
  
#sidebar a {
    padding: 7px;
    padding-left: 0px;
    text-decoration: none;
    font-size: 18px;
    color: #c9c9c9;
    display: block;
    
  }
  
#sidebar a:hover {
    color: #ffffff;  /* Change color on hover */
  }
  









/* Now, when the screen size be less than 768 pixels, the sidebar gets the heave-ho! */
@media (max-width: 1400px) {
    #sidebar {
      display: none; /* This will hide the sidebar on screens smaller than 768 pixels */
    }
  }


.center_p{
    text-align: center;

}














#slideshow {
    position: relative;
    max-width: 850px; /* Adjust as per your image width */
    max-height: 850px; /* Adjust as per your image width */
    margin: auto;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #00000000;
}

#slideshow img{

    margin: auto;
    padding: 0;

    width: auto ;
    height: auto;

    max-width: 650px; /* Adjust as per your image width */
    max-height: 650px; /* Adjust as per your image width */
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgb(0, 0, 0);

    width: 50px;

    padding-top: 25%;
    padding-bottom: 25%;
}

.prev {
    left: 0px; /* Adjust if necessary */
}

.next {
    right: 0px; /* Adjust if necessary */
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.823);
}


.no_purple_link{
    text-decoration: none;
    text-align: left;
    left: 300px;
    color:#ccc;
}


.no_purple_link:visited {
    text-decoration: none;
    text-align: left;
    left: 300px;
    color:#ccc;
}










.width-short{
    width: 300px;
}








.long{
    width: 400px;  /* Sets the width */
    height: 300px;  /* Sets the height */
}

.longer{
    width: 350px;  /* Sets the width */
    height: 200px;  /* Sets the height */
}

.longest{
    width: 500px;  /* Sets the width */
    height: 350px;  /* Sets the height */
}



.tall{
    width: 300px;  /* Sets the width */
    height: 350px;  /* Sets the height */
}

.taller{
    width: 250px;  /* Sets the width */
    height: 400px;  /* Sets the height */
}


.tallest{
    width: 350px;  /* Sets the width */
    height: 600px;  /* Sets the height */
    margin-left: 2em;
    margin-right: 2em;
}

.wide{
    width: 600px;  /* Sets the width */
    height: 300px;  /* Sets the height */
}


.large-photo{
    width: 425px;
    height: 425px;

}

.larger-photo{
    width: 900px;
    height: 625px;
}

.taller-photo{
    width: 625px;
    height: 900px;
}

.big{
    width: 800px;
    height: 600px;
}

.icons{
    width: 50px;
    height: 50px;
    border: #00000000;
    margin-left: 5em;
    margin-right: 5em;
}


















header {
    background-color: #141414;
    color: #fff6ea;
    text-align: center;
    padding: 1em;
    box-shadow: 0px 3px 10px rgba(49, 49, 49, 0.2);
    z-index: 2;  /* Make this higher than the sidebar's z-index */
    position: relative;  /* Needed for z-index to work */

    width: 100%;
    z-index: 2; /* Keep it above other content */
}

header nav ul li a {
   
    color: #ffffff;
    font-size: 115%;
    margin-left: 10px;
    margin-right: 10px;
}





/* 
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}
 */




/* Style the nav and list items */



nav ul {
    list-style-type: none;
    
    display: flex;
    
}

nav ul li {
    position: relative;
    display: inline;
    padding: 2;
}

/* Style for the links */
nav ul li a {
    text-decoration: none;
    padding: 0px 15px 10px 30px;
    display: block;
    color: #333;
    
    
    
}


/* Hide the dropdown by default */
nav ul li .dropdown {
    display: none;
    position: absolute;
    background-color: #141414;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    
    padding: 0;
    margin-top: 15px;
    margin-bottom: 5px;

  
    background-color: #f5f5f5b4;
    backdrop-filter: blur(10px); /* This blurs the background behind the element */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    

    margin-top: 0px;
    margin-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;


    border-radius: 10px;

    color: #000000;
}




nav ul li .dropdown li a {
    font-family: 'Lora', serif;
    
    color: #000000;
    display: block;
    font-size: medium;
    font-weight: 400;
    padding: 7px;
    padding-top: 12px;
    padding-bottom: 12px;
}

/* Show the dropdown when hovering over the parent */
nav ul li:hover .dropdown {
    display: block;
}

/* Optional: Add some hover effects */
nav ul li a:hover, nav ul li .dropdown li a:hover {
    color: #b2b2b2;
}

/* Optional: Add some hover effects */
nav ul li .dropdown li a:hover {
    color: #959595;
}

